@using Webdiyer.WebControls.Mvc;
@model PagedList<LinqModel.Enterprise_License>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<body>
    <!-------------------main start---------------------------------->
    <div>
        <form id="form1" method="get" action="/Admin/SysEnLicense/Index">
        <div class="main_hd clearfix">
            <ul class="breadcrumb">
                <li class="icofont-home"><span class="dqwz">当前位置：</span></li>
                <li class="dqwz">企业管理<span class="divider">›</span>授权信息</li>
            </ul>
        </div>
        <div class="card_pa40 clearfix">
            <div class="mod-main">
                <div class="table-filter borderLeft borderRight clearfix">
                    <div class="sitem">
                        筛选：
                        <input placeholder="开始时间" type="text" style="width: 120px;" id="sDate" name="sDate" value="@ViewBag.sDate"
        cssclass="Wdate" onclick="WdatePicker()" readonly="readonly">
                        至
                        <input placeholder="结束时间" type="text"
        style="width: 120px;" readonly="readonly" onclick="WdatePicker()" id="eDate" name="eDate"
        value="@ViewBag.eDate" cssclass="Wdate">
                    </div>
                    <div class="sitem">
                        企业名称：
                        <input
        type="text" id="enName" name="enName" value="@ViewBag.Name">
                    </div>
                    <div class="sitem">
                        <input type="submit" id="btnSearch" name="btnSearch" value="查询" class="button">
                    </div>
                </div>
                <div class="boxtable mat20">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    企业名称
                                </th>
                                <th>
                                    授权形式
                                </th>
                                <th>
                                    授权到期日期
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    foreach (var sub in Model)
                                    {
                                <tr>
                                    <td>
                                        @sub.EnterpriseName
                                    </td>
                                    <td>
                                        @if (sub.LicenseType != null)
                                        {
                                            @Common.EnumText.EnumToText(typeof(Common.EnumFile.LicenseType), sub.LicenseType.Value)
                                        }
                                        else
                                        {
                                            <span>无</span>
                                        }
                                    </td>
                                    <td>
                                        @sub.LicenseEndDate.Value.ToString("yyyy-MM-dd")
                                    </td>
                                    <td>
                                        <a href="@sub.LicenseTxtURL" class="lnk mar10">
                                            文件下载</a> 
                                    </td>
                                </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model.TotalItemCount > 0)
                {
                    <div class="mod-page fy">
                        <div>
                            @Html.Pager(Model, new Webdiyer.WebControls.Mvc.PagerOptions
                       {
                           PageIndexParameterName = "id",
                           FirstPageText = "首页",
                           ShowNumericPagerItems = true,
                           ShowPageIndexBox = true,
                           ShowGoButton = true,
                           GoButtonText = "跳转",
                           PageIndexBoxType = Webdiyer.WebControls.Mvc.PageIndexBoxType.TextBox,
                           LastPageText = "尾页",
                           NextPageText = "下一页",
                           PrevPageText = "上一页",
                           AutoHide = false,
                           CurrentPagerItemWrapperFormatString = "<span class=\"mod-page-cur\">{0}</span>"
                       })
                        </div>
                        每页@(Model.PageSize)条共@(Model.TotalPageCount)页共@(Model.TotalItemCount)条
                    </div>
                }
            </div>
        </div>
        </form>
    </div>
    <!-------------------main end---------------------------------->
</body>
