@{
    ViewBag.Title = "PayOrder";
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>医疗器械（UDI）服务云平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
        id="viewport">
    <link href="/css/home.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.min.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/Scripts/glvalidate.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {
                if (isNull($("#GetLinkMan").val())) {
                    alert('请输入收货人姓名！');
                    return;
                }
                if (isNull($("#LinkPhone").val())) {
                    alert('请输入收货人电话！');
                    return;
                }
                var isMobile = checkMobileEx($("#LinkPhone").val());
                var isPhone = checkMobileEx($("#LinkPhone").val());
                if (!(isMobile || isPhone)) {
                    alert("您填写的收货人电话不正确！");
                    return;
                }
                var Province = $('#Province').val();
                var selCity = $('#selCity').val();
                var selArea = $('#selArea').val();
                if (Province == "710000" || Province == "810000" || Province == "820000" || Province == "110000" || Province == "310000" || Province == "120000" || Province == "500000") {
                    if (!(Province == "710000" || Province == "810000" || Province == "820000")) {
                        if (selCity == "-2") {
                            alert("请选择收货地址所在区域！");
                            return false;
                        }
                    }
                }
                else {
                    if (selArea == "-2") {
                        alert("请选择收货地址所在区域！");
                        return false;
                    }
                }
                if (isNull($("#Address").val())) {
                    alert('请输入地址！');
                    return;
                }
                if (isNull($("#Postcode").val())) {
                    alert('请输入邮编！');
                    return;
                }
                if (!isPostalCode($("#Postcode").val())) {
                    alert('您请输入的邮编不正确！');
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: "/Wap_Order/Edit",
                    data: $("#formEdit").serialize(),
                    success: function (data) {
                        if (data.res) {
                            $("#AddressDiv").show();
                            $("#OrderDiv").hide();
                            $("#AddAddressDiv").hide();

                            $.ajax({
                                type: "POST",
                                url: "/Wap_Order/GetAddressInfo",
                                contentType: "application/json;charset=utf-8", //必须有
                                dataType: "json", //表示返回值类型，不必须
                                async: false,
                                success: function (jsonResult) {
                                    var data = jsonResult;
                                    $("#listAddress").html('');
                                    $.each(data, function (n, consumers) {
                                        //alert(n + ' ' + consumers);
                                        $("#listAddress").append('<li onclick="selectAddress(this,\'' + consumers.Order_Consumers_Address_ID + '\')"><div class="o-total-price"><div class="cont" style="text-align:left"><span style="margin-left:20px">' +
                                                consumers.AllArea + consumers.Address + ' ' + consumers.Postcode + '<br/>' +
                                                consumers.LinkMan + ' ' + consumers.LinkPhone + '<br/>' +
                                                '<div style="display:none;"><span class="sku" style="font-style:italic">(点击可以更改收货地址)</span></div>' +
                                                '</span></div></div></li>');
                                    });
                                },
                                error: function (Error) {

                                }
                            });
                        }
                        else {
                            if (data.info != null && data.info != "") {
                                alert(data.info);
                            }
                        }
                    }
                });
            });
            $("#ddlSpec").change(function () {
                $("#listProperty").html('');
                var ddlId = this.value;
                var price = 0.00;
                if (ddlId != "0") {
                    price = parseFloat(ddlId.split("_")[1]);
                }
                $("#price").text(price.toFixed(2));
                var count = parseInt($("#count").val());
                if (isNaN(count)) {
                    count = 0;
                }
                var totalMoney = price.toFixed(2) * count;
                $("#total").text(totalMoney.toFixed(2));

                var sendData = { MaterialSpecId: $(this).val().split('_')[0] }
                $.ajax({
                    type: "POST",
                    url: "/Wap_Order/GetMaterialProperty",
                    contentType: "application/json;charset=utf-8", //必须有
                    dataType: "json", //表示返回值类型，不必须
                    data: JSON.stringify(sendData),
                    async: false,
                    success: function (jsonResult) {
                        var data = jsonResult;
                        $.each(data, function (n, proprety) {
                            $("#listProperty").append('<li>' + proprety.PropertyName + '</li>');
                        });
                    },
                    error: function (Error) {

                    }
                });

            });
            $("#count").keyup(function () {
                $("#listProperty").html('');
                var count = parseInt($("#count").val());
                if (isNaN(count)) {
                    count = 0;
                }
                var price = parseFloat($("#price").text());
                var totalMoney = price * count;
                $("#total").text(totalMoney.toFixed(2));

                var sendData = { MaterialSpecId: $(this).val().split('_')[0] }
                $.ajax({
                    type: "POST",
                    url: "/Wap_Order/GetMaterialProperty",
                    contentType: "application/json;charset=utf-8", //必须有
                    dataType: "json", //表示返回值类型，不必须
                    data: JSON.stringify(sendData),
                    async: false,
                    success: function (jsonResult) {
                        var data = jsonResult;
                        $.each(data, function (n, proprety) {
                            $("#listProperty").append('<li>' + proprety.PropertyName + '</li>');
                        });
                    },
                    error: function (Error) {

                    }
                });
            });
            $("#minusCount").click(function () {
                var count = parseInt($("#count").val());
                if (isNaN(count)) {
                    count = 1;
                    $("#count").val(count);
                }
                count = count - 1;
                if (count == 0) return;

                $("#count").val(count);
                var price = parseFloat($("#price").text());
                var totalMoney = price * count;
                $("#total").text(totalMoney.toFixed(2));
            });
            $("#addCount").click(function () {
                var count = parseInt($("#count").val());
                if (isNaN(count)) {
                    $("#count").val("0");
                    count = 0;
                }
                count = count + 1;
                $("#count").val(count);
                var price = parseFloat($("#price").text());
                var totalMoney = price * count;
                $("#total").text(totalMoney.toFixed(2));
            });
            $("#btnCancel").click(function () {
                $("#AddAddressDiv").hide();
                $("#AddressDiv").show();
                $("#OrderDiv").hide();
            });
            $("#addAddress").click(function () {
                $("#AddAddressDiv").show();
                $("#AddressDiv").hide();
                $("#OrderDiv").hide();
            });
            $("#btnBuy").click(function () {
                if ($("#ddlSpec").val() == 0) {
                    alert('请选择要购买产品的规格！');
                    return;
                }
                if (isNull($("#count").val())) {
                    alert('请填写购买产品的数量！');
                    return;
                }
                if (!isInteger($("#count").val())) {
                    alert('请正确填写购买产品的数量！');
                    return;
                }
                var count = parseInt($("#count").val());
                if (count <= 0) {
                    alert('请正确填写购买产品的数量！');
                    return;
                }
                var sendData = {
                    orderNum: $("#orderNum").val(),
                    specName: $("#ddlSpec").val(),
                    price: $("#price").text(),
                    count: $("#count").val(),
                    total: $("#total").text(),
                    address: $("#addressId").val(),
                    type: $("#payType").val()
                };
                $.ajax({
                    type: 'POST',
                    url: "/Wap_Consumers/PayOrder",
                    contentType: "application/json;charset=utf-8", //必须有
                    dataType: "json", //表示返回值类型，不必须
                    data: JSON.stringify(sendData),
                    async: false,
                    success: function (data) {
                        if (data.res) {
                            if ($("#payType").val() == "1") {
                                alert(data.info);
                            }
                            window.location.href = data.url;
                        }
                        else {
                            if (data.info != null && data.info != "") {
                                alert(data.info);
                            }
                        }
                    }
                });
            });
        });
        function showAddressList() {
            $("#AddressDiv").show();
            $("#OrderDiv").hide();

            $.ajax({
                type: "POST",
                url: "/Wap_Order/GetAddressInfo",
                contentType: "application/json;charset=utf-8", //必须有
                dataType: "json", //表示返回值类型，不必须
                async: false,
                success: function (jsonResult) {
                    var data = jsonResult;
                    $("#listAddress").html('');
                    $.each(data, function (n, consumers) {
                        //alert(n + ' ' + consumers);
                        $("#listAddress").append('<li onclick="selectAddress(this,\'' + consumers.Order_Consumers_Address_ID + '\')"><div class="o-total-price"><div class="cont" style="text-align:left"><span style="margin-left:20px">' +
                                    consumers.AllArea + consumers.Address + ' ' + consumers.Postcode + '<br/>' +
                                    consumers.LinkMan + ' ' + consumers.LinkPhone + '<br/>' +
                                    '<div style="display:none;"><span class="sku" style="font-style:italic">(点击可以更改收货地址)</span></div>' +
                                    '</span></div></div></li>');
                    });
                },
                error: function (Error) {

                }
            });
        }
        function selectAddress(chickLi, addressId) {
            //alert(chickLi.innerHTML);
            var html = chickLi.innerHTML;

            html = html.replace('<div class="o-total-price">', '<div class="o-total-price" onclick="showAddressList()">');

            html = html.replace('<div style="display:none;"><span class="sku" style="font-style:italic">(点击可以更改收货地址)</span></div>', '<span class="sku" style="font-style:italic">(点击可以更改收货地址)</span>');

            document.getElementById("selectLi").innerHTML = html;
            $("#addressId").val(addressId);
            $("#AddressDiv").hide();
            $("#OrderDiv").show();
        }
    </script>
</head>
<body>
    @{
        LinqModel.Material material = ViewBag.material;
        LinqModel.View_Order_Consumers consumers = ViewBag.consumers;
        LinqModel.Enterprise_FWCode_00 code = ViewBag.code;
        LinqModel.Enterprise_Info enterprise = ViewBag.enterprise;
        LinqModel.Material_OnlineOrder orderModel = ViewBag.orderModel;
    }
    <!-- 页头 -->
    <input id="orderNum" name="orderNum" value="@orderModel.OrderNum" type="hidden" />
    <section>
	    <header class="headerbox">
        <a href="/wap_consumers/index" class="art-back">返回</a>
		    <h1 title="在线购买">在线购买</h1>
	    </header>
    </section>
    <!--内容-->
    <div class="scroll-wrap" id="AddressDiv" style="display: none">
        <div class="scroll-content">
            <section class="order-cont">
                <ul class="order-list">
                @{
                    <div id="listAddress">
                    </div>
                    }
                    <li>
                        <div class="o-total-price">
                            <div class="cont" style="text-align:left">
                                <span style="margin-left:20px">
                               <a id="addAddress">添加新的收货地址</a>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="scroll-wrap" id="OrderDiv">
        <div class="scroll-content">
            <section class="order-cont">
                <ul class="order-list">
                                <input type="hidden" id="addressId" name="addressId" value="@consumers.Order_Consumers_Address_ID"/>
                                <input type="hidden" id="enterpriseId" name="enterpriseId" value="@enterprise.Enterprise_Info_ID"/>
                                <input type="hidden" id="materialId" name="materialId" value="@material.Material_ID"/>
                    <li id="selectLi">
                        <div class="o-total-price" onclick="showAddressList()">
                            <div class="cont" style="text-align:left"><span id="selectAddress" style="margin-left:20px">
                                @(consumers.AllArea + consumers.Address + " " + consumers.Postcode)<br/>
                                @(consumers.GetLinkMan + " " + consumers.GetLinkPhone)<br/>
                                <span class="sku" style="font-style:italic">(点击可以更改收货地址)
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="o-t-title-shop">
                            <div class="tcont">
                                <div class="contact">
                                    <a href="#">
                                        <p class="title">
                                            @enterprise.EnterpriseName
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item-list o-t-item">
                            <div class="item-img">
                                <p>
                                 @try
                                 {
                                     foreach (var item in material.imgs)
                                     {
                                        <img src="@item.fileUrl"/>
                                             break;
                                     }
                                 }
                                 catch
                                 {
                                    <img src="images/nopic1.jpg"/>
                                 }
                                </p>
                            </div>
                            <div class="item-info">
                                <h3 class="title">
                                    @material.MaterialFullName
                                </h3>
                                <p class="sku">
                                规格：
                                @if (orderModel.MaterialSpec != null)
                                {
                                <select id="ddlSpec" name="ddlSpec" style=" width:80px;">
                                <option value="0">请选择</option>
                                @{
                                    List<LinqModel.Material_Spec> liMaterialSpec = new BLL.Material_OnlineOrderBLL().GetMaterialSpecList(material.Material_ID);
                                    if (liMaterialSpec != null && liMaterialSpec != null)
                                    {
                                        for (int i = 0; i < liMaterialSpec.Count; i++)
                                        {
                                            string ddlValue = liMaterialSpec[i].ID + "_" + liMaterialSpec[i].Price;
                                            if (@orderModel.SpecID == liMaterialSpec[i].ID)
                                            {
                                                <option value="@ddlValue" selected="selected">@orderModel.MaterialSpec</option>
                                            }
                                            else
                                            {
			                                <option value="@ddlValue">@liMaterialSpec[i].MaterialSpecification</option>
                                            }
                                        }
                                    }
                                }
                                </select>
                                }
                                else
                                {
                                   <select id="ddlSpec" name="ddlSpec" style=" width:80px;">
                                <option value="0" selected="selected">请选择</option>
                                @{
                                    List<LinqModel.Material_Spec> liMaterialSpec = new BLL.Material_OnlineOrderBLL().GetMaterialSpecList(material.Material_ID);
                                    if (liMaterialSpec != null && liMaterialSpec != null)
                                    {
                                        for (int i = 0; i < liMaterialSpec.Count; i++)
                                        {
                                            string ddlValue = liMaterialSpec[i].ID + "_" + liMaterialSpec[i].Price;
                                            
			                                <option value="@ddlValue">@liMaterialSpec[i].MaterialSpecification</option>
                                        }
                                    }
                                }
                                </select>  
                                }
                                    @*颜色分类:619/中牛仔蓝;尺寸:30*@
                                </p>
                                <p class="nums sku clearfix">
                                <span class="countname">数量：</span>
                                        <span class="add-border-green num-box" id="minusCount" name="minusCount">-</span>
                                        @if (orderModel.MaterialCount != null)
                                        {
                                        <input type="text" maxlength="5" value="@orderModel.MaterialCount" id="count" name="count" style="ime-mode:disabled; width:26px; height:21px; line-height:20px; float:left; margin:0 6px; text-align:center;" onkeydown="if(event.keyCode==13)event.keyCode=9" onKeyPress="if ((event.keyCode<48 || event.keyCode>57)) event.returnValue=false"/>
                                        }
                                        else
                                        { 
                                            <input type="text" maxlength="5" value="1" id="count" name="count" style="ime-mode:disabled; width:26px; height:21px; line-height:20px; float:left; margin:0 6px; text-align:center;" onkeydown="if(event.keyCode==13)event.keyCode=9" onKeyPress="if ((event.keyCode<48 || event.keyCode>57)) event.returnValue=false"/>
                                        }
                                        <span class="add-border-green num-box" id="addCount" name="addCount">+</span>
                                </p>
                            </div>
                            <div class="item-pay" style=" width:90px;">
                                <div class="item-pay-data">
                                    <p class="price">
                                        ￥
                                        @if (orderModel.MaterialPrice != null)
                                        {
                                            <span id="price">@orderModel.MaterialPrice.ToString("0.00")</span>
                                        }
                                        else
                                        {
                                            <span id="price">0.00</span>
                                        }
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <ul id="listProperty" class="order-serviceinfo" style="padding:0 10px 15px 10px;">
                                    @*<li>
                                        七天退换
                                    </li>*@
                        </ul>
                        <div class="o-total-price">
                            <div class="cont">
                                <span>
                                    合计:
                                    <b>￥
                                    @if (orderModel.TotalMoney != null)
                                    {
                                        <span id="total">@orderModel.TotalMoney.ToString("0.00")</span>
                                    }
                                    else
                                    {
                                        <span id="total">0.00</span>
                                    }
                                    </b>
                                </span>
                                @*<span>
                                    (含运费
                                    <b>
                                        ￥0.00
                                    </b>
                                    )
                                </span>*@
                            </div>
                        </div>
                        <div class="o-total-price">
                            <div class="cont">
                                <span>
                                    <select id="payType" name="payType">
                                    <option value="1">货到付款</option>
                                    <option value="2">支付宝支付</option>
                                    @*<option value="3">网银支付</option>*@
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="o-tab-btn clearfix">
                            <ul>
                                <li class="btn-org" style="width:100px;">
                                    <a href="#" id="btnBuy">购买</a>
                                </li>
                            </ul>
                        </div>
                    </li>             
                </ul>
            </section>
        </div>
    </div>
    <div class="scroll-wrap" style="border-bottom: 1px solid #e7e7e7; display: none"
        id="AddAddressDiv">
        <div class="scroll-content">
            <form id="formEdit">
            <input type="hidden" id="pageType" name="pageType" value="3">
            <dl class="list list-in">
                <dd>
                    <dl>
                        <dd class="dd-padding kv-line">
                            <h6>
                                收货人：
                            </h6>
                            <input name="GetLinkMan" id="GetLinkMan" type="text" class="kv-v input-weak" placeholder="请输入收货人"
                                maxlength="10" />
                        </dd>
                        <dd class="dd-padding kv-line">
                            <h6>
                                收货人电话：
                            </h6>
                            <input name="LinkPhone" id="LinkPhone" type="text" class="kv-v input-weak" placeholder="请输入收货人电话"
                                value="" maxlength="20" />
                        </dd>
                        @Html.Action("GetAddress", "Wap_Order")
                        <dd class="dd-padding kv-line">
                            <h6>
                                地址：
                            </h6>
                            <textarea name="Address" id="Address" class="input-weak kv-v" placeholder="请输入收货地址"
                                maxlength="500"></textarea>
                        </dd>
                        <dd class="dd-padding kv-line">
                            <h6>
                                邮编：
                            </h6>
                            <input type="text" name="Postcode" id="Postcode" class="input-weak kv-v" placeholder="6位邮政编码"
                                maxlength="6" />
                        </dd>
                    </dl>
                </dd>
            </dl>
            <section class="section-module mat10">
                <input type="button" id="btnSave" name="btnSave" class="orange-btn-l fl" value="保存" style="width:48%;"/>
                <input type="button" id="btnCancel" name="btnCancel"class="green-btn bg-grey fr"  value="返回" style="width:48%;"/>
	        </section>
            </form>
        </div>
    </div>
    <div class="juchou-footer">
        <footer>
            <p>医疗器械（UDI）服务云平台</p>
        </footer>
    </div>
</body>
</html>
