@using Webdiyer.WebControls.Mvc;
@model PagedList<LinqModel.PRRU_EnEquipmentInfo>
@{
    ViewBag.Title = "EnEquipmentList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    //添加代理窗口
    function AddEquipment() {
        openwin('Add', '添加设备串号', 500, 300);
    }
    function ExcelEquipment() {
        openwin('UploadExcel', 'Excel上传', 500, 300);
    }
</script>
<body>
    <!-------------------main start---------------------------------->
    <div>
        <form id="form1" method="get" action="/Admin/SysEnEquipment/EnEquipmentList">
        <div class="main_hd clearfix">
            <ul class="breadcrumb">
                <li class="icofont-home"><span class="dqwz">当前位置：</span></li>
                <li class="dqwz">企业管理<span class="divider">›</span>设备信息</li>
            </ul>
        </div>
        <div class="card_pa40 clearfix">
            <div class="mod-main">
                <div class="table-filter borderLeft borderRight clearfix">
                    <div class="sitem">
                        企业名称：
                        <input type="text" id="enName" name="enName" value="@ViewBag.Name">
                    </div>
                    <div class="sitem">
                        <input type="submit" id="btnSearch" name="btnSearch" value="查询" class="button">
                    </div>
                    <div class="sitem">
                        <input type="button" id="btnAdd" name="btnAdd" value="添加设备串号" onclick="AddEquipment()"
                            class="button">
                    </div>
                    <div class="sitem">
                        <input type="button" id="btnExcel" name="btnExcel" value="Excel上传" onclick="ExcelEquipment()"
                            class="button">
                    </div>
                    <div class="sitem">
                        <a href="/SysEnEquipment/ExcleGSDown" class="txt"><input type="button" id="btnExcelgs" name="btnExcelgs" value="Excel格式下载"
                            class="button"></a>
                    </div>
                </div>
                <div class="boxtable mat20">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    企业名称
                                </th>
                                <th>
                                    设备串号
                                </th>
                                <th>
                                    状态
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    foreach (var sub in Model)
                                    {
                                <tr>
                                    <td>
                                        @sub.EnterpriseName
                                    </td>
                                    <td>
                                        @sub.EquipmentNo
                                    </td>
                                    <td>
                                        @if (sub.Status == (int)Common.EnumFile.Status.used)
                                        {
                                            <span>正常</span>
                                        }
                                        else if (sub.Status == (int)Common.EnumFile.Status.delete)
                                        {
                                            <span>禁用</span>
                                        }
                                    </td>
                                    <td>
                                        <a href="javascript:openwin('@Url.Action("Edit", new { Id = @sub.ID })','修改设备串号信息',500,300)" class="lnk mar10" style=" margin-left:20px;">
                                            修改</a>
                                        @if (sub.Status == (int)Common.EnumFile.Status.used)
                                        {
                                            <a href="javascript:AjaxUrl('/Admin/SysEnEquipment/EditStatus?id=@sub.ID&type=2','您确定要禁用此设备吗？')" class="lnk mar10">
                                                禁用</a>
                                        }
                                        else if (sub.Status == (int)Common.EnumFile.Status.delete)
                                        {
                                            <a href="javascript:AjaxUrl('/Admin/SysEnEquipment/EditStatus?id=@sub.ID&type=1','您确定要启用此设备吗？')" class="lnk mar10">
                                                启用</a>
                                        }
                                    </td>
                                </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model.TotalItemCount > 0)
                {
                    <div class="mod-page fy">
                        <div>
                            @Html.Pager(Model, new Webdiyer.WebControls.Mvc.PagerOptions
                       {
                           PageIndexParameterName = "id",
                           FirstPageText = "首页",
                           ShowNumericPagerItems = true,
                           ShowPageIndexBox = true,
                           ShowGoButton = true,
                           GoButtonText = "跳转",
                           PageIndexBoxType = Webdiyer.WebControls.Mvc.PageIndexBoxType.TextBox,
                           LastPageText = "尾页",
                           NextPageText = "下一页",
                           PrevPageText = "上一页",
                           AutoHide = false,
                           CurrentPagerItemWrapperFormatString = "<span class=\"mod-page-cur\">{0}</span>"
                       })
                        </div>
                        每页@(Model.PageSize)条共@(Model.TotalPageCount)页共@(Model.TotalItemCount)条
                    </div>
                }
            </div>
        </div>
        </form>
    </div>
    <!-------------------main end---------------------------------->
</body>
