@using Webdiyer.WebControls.Mvc;
@model PagedList<LinqModel.View_ActivityManager>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}
<head>
    <script type="text/javascript">
        $(function () {
            $(".activityStatus").removeClass("selected");
            $(".activityStatus[value=@ViewBag.Status]").addClass("selected");
            $(".aPay").click(function () {
                var $this=$(this);
                $.post("@Url.Action("SetPay")", {activityId:$this.attr("activityId")},function(data){
                 if (data.flag == "wx") {
                        openwinEwm('@Url.Action("LookEwm", "Packet")?tradeNo=' + data.tradeNo + "&jg=" + data.sumMoney, '微信支付', 370, 390, data.tradeNo, data.id,"Index");
                        return;
                    }
                    if (data.flag == "zfb") {
                        if (data.url != null && data.url != "") {
                            //                        top.location.href = data.url;
                            window.open(data.url, "_top", "");
                            return;
                        }
                    }
                })
            });
        })
    </script>
</head>
<body>
    <!-------------------main start---------------------------------->
    <div>
        <form id="form1" method="get" action="/Market/ActivityManager/Index">
        <div class="main_hd clearfix">
            <ul class="breadcrumb">
                <li class="icofont-home"><span class="dqwz">当前位置：</span></li>
                <li>活动管理<span class="divider">›</span>活动管理</li>
            </ul>
        </div>
        <div class="card_pa40 clearfix">
            <div class="mod-main">
                <p>
                    @*      <a href="/Market/ActivityManager/AddActivity">
                        <input type="button" id="" name="" value="新建活动" class="button-line"></a> *@
                    <a  href="javascript:openwin('@Url.Action("YhqCancelOut")','核销优惠券',400,250)">
                        <input type="button" id="" name="" value="优惠券核销" class="button-line"></a></p>
                <div class="table-filter borderLeft borderRight clearfix">
                    <div class="sitem">
                        活动时间：
                        <input type="text" placeholder="开始时间" style="width: 120px;" id="sDate" name="sDate" value="@ViewBag.sDate"
        cssclass="Wdate" onclick="WdatePicker()" readonly="readonly">
                        至
                        <input type="text" placeholder="结束时间"
        style="width: 120px;" readonly="readonly" onclick="WdatePicker()" id="eDate" name="eDate"
        value="@ViewBag.eDate" cssclass="Wdate">
                    </div>
                    <div class="sitem">
                        活动名称：
                        <input
        type="text" id="acName" name="acName" value="@ViewBag.Name">
                        <input  type="hidden" value="@ViewBag.Status" name="activityStatus"/>
                    </div>
                    <div class="sitem">
                        <label>
                            活动类型：</label>@Html.Raw(ViewBag.hbType)
                    </div>
                    <div class="sitem">
                        <input type="submit" id="btnSearch" name="btnSearch" value="查询" class="button">
                    </div>
                </div>
                <div class="trend-detail clearfix" id="ulid">
                    <div class="tabs clearfix">
                        <ul class="fl">
                            <li class="activityStatus selected" value="1"><a href="/Market/ActivityManager/Index?acName=@ViewBag.Name&sDate=@ViewBag.sDate&eDate=@ViewBag.eDate&activityStatus=1">
                                进行中的活动</a> </li>
                            <li class="activityStatus" value="2"><a href="/Market/ActivityManager/Index?acName=@ViewBag.Name&sDate=@ViewBag.sDate&eDate=@ViewBag.eDate&activityStatus=2">
                                已结束的活动</a> </li>
                            <li class="activityStatus" value="-1"><a href="/Market/ActivityManager/Index?acName=@ViewBag.Name&sDate=@ViewBag.sDate&eDate=@ViewBag.eDate&activityStatus=-1">
                                未开始的活动</a> </li>
                        </ul>
                    </div>
                    <div class="trend-main">
                        <div class="boxtable">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            活动名称
                                        </th>
                                        <th width="200">
                                            活动时间
                                        </th>
                                        <th>
                                            活动类型
                                        </th>
                                        @if (ViewBag.Status == -1)
                                        {
                                            <th>
                                                支付状态
                                            </th>
                                        }
                                        <th width="300">
                                            码类型
                                        </th>
                                        <th width="300">
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null)
                                        {
                                            foreach (var sub in Model)
                                            {
                                        <tr>
                                            <td>
                                                @sub.ActivityTitle
                                            </td>
                                            <td>
                                                @sub.StartDate.Value.ToString("yyyy-MM-dd") 至 @sub.EndDate.Value.ToString("yyyy-MM-dd")
                                            </td>
                                            <td>
                                                @Common.EnumText.EnumToText(typeof(Common.EnumText.ActivityMethod), sub.ActivityMethod.Value)
                                                @*@Common.EnumText.EnumToText(typeof(Common.EnumText.ActiveType), sub.ActivityType.Value)*@
                                            </td>
                                            @if (ViewBag.Status == -1 && sub.RechargePayState != null)
                                            {    <td>
                                                <span>@Common.EnumText.EnumToText(typeof(Common.EnumText.PayState), sub.RechargePayState.Value)</span>
                                            </td>
                                            }
                                            else if (ViewBag.Status == -1 && sub.RechargePayState == null)
                                            {
                                                <td>
                                                    <span>---</span>
                                                </td>
                                            }
                                            <td>
                                                @Common.EnumText.EnumToText(typeof(Common.EnumText.CodeType), sub.Flag.Value)
                                            </td>
                                            @if (sub.ActiveStatus == (int)Common.EnumText.ActivityState.Going)
                                            {
                                                <td>
                                                    @if (sub.ActivityMethod == (int)Common.EnumText.ActivityMethod.Packet)
                                                    {
                                                        <a href="/Market/ActivityManager/Info?id=@sub.ActivityID" class="lnk mar10">查看</a>
                                                    }
                                                    else if (sub.ActivityMethod == (int)Common.EnumText.ActivityMethod.Coupon)
                                                    {
                                                        <a href="/Market/ActivityManager/YhqInfo?id=@sub.ActivityID" class="lnk mar10">查看</a>
                                                    }
                                                    else if (sub.ActivityMethod == (int)Common.EnumText.ActivityMethod.Lottery)
                                                    {
                                                        <a href="/Market/ActivityManager/LotteryInfo?activityId=@sub.ActivityID" class="lnk mar10">
                                                            查看</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" class="lnk mar10">查看</a>
                                                    }
                                                    <a href="javascript:AjaxUrl('/Market/ActivityManager/EditStatusEnd/@sub.ActivityID','您确定要结束此活动吗？')" class="lnk mar10">
                                                        结束</a> <a href="javascript:openwin('/Market/ActivityManager/YuLan?id=@sub.ActivityID','预览',325,370);"
                                                    class="lnk mar10">预览</a>
                                                    @if (sub.Flag.Value == (int)Common.EnumText.CodeType.MarketCode)
                                                    {
                                                        <a href="@Url.Action("DownCode", new { activityId = sub.ActivityID })">下载码</a>  
                                                    }
                                                </td>
                                            }
                                            else if (sub.ActiveStatus == (int)Common.EnumText.ActivityState.Finish)
                                            {
                                                
                                                <td>
                                                    <a href="javascript:openwin('/Market/ActivityManager/YuLan?id=@sub.ActivityID','预览',325,370);"
                                                    class="lnk mar10">预览</a>
                                                </td> 
                                            }
                                            else if (sub.ActiveStatus == (int)Common.EnumText.ActivityState.NoStart)
                                            {
                                                <td>
                                                    @if (sub.ActivityMethod == (int)Common.EnumText.ActivityMethod.Packet)
                                                    {
                                                        <a href="/Market/Packet/Edit?activityId=@sub.ActivityID" class="lnk mar10">编辑</a>
                                                    }
                                                    else if (sub.ActivityMethod == (int)Common.EnumText.ActivityMethod.Coupon)
                                                    {
                                                        <a href="/Market/Coupon/AddOrEdit?activityId=@sub.ActivityID" class="lnk mar10">编辑</a>
                                                    }
                                                    else if (sub.ActivityMethod == (int)Common.EnumText.ActivityMethod.Lottery)
                                                    {
                                                        <a href="/Market/YXLottery/Edit?activityId=@sub.ActivityID" class="lnk mar10">编辑</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" class="lnk mar10">编辑</a>
                                                    }
                                                    @if (sub.OpenMode == (int)Common.EnumText.OpenMode.Hand)
                                                    {
                                                        <a href="javascript:AjaxUrl('/Market/ActivityManager/EditStatusStar/@sub.ActivityID','您确定要开始此活动吗？')" class="lnk mar10">
                                                            开始</a>
                                                    }
                                                    @if (sub.RechargePayState == (int)Common.EnumText.PayState.NoPay)
                                                    {
                                                        if (sub.RechargeMode != (int)Common.EnumText.PayType.OffLinePay)
                                                        {
                                                        <a class="aPay" style=" cursor:pointer;" activityId="@sub.ActivityID" class="lnk mar10">
                                                            支付</a>
                                                        }
                                                    }
                                                    <a href="javascript:openwin('/Market/ActivityManager/YuLan?id=@sub.ActivityID','预览',325,370);"
                                                    class="lnk mar10">预览</a>
                                                    @if (sub.ActivityMethod == (int)Common.EnumText.ActivityMethod.Lottery)
                                                    {
                                                        <a href="/Market/ActivityManager/PrizeDetail?activityId=@sub.ActivityID" class="lnk mar10">奖项</a>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (Model != null && Model.TotalItemCount > 0)
                        {
                            <div class="mod-page fy">
                                <div>
                                    @Html.Pager(Model, new Webdiyer.WebControls.Mvc.PagerOptions
                               {
                                   PageIndexParameterName = "id",
                                   FirstPageText = "首页",
                                   ShowNumericPagerItems = true,
                                   ShowPageIndexBox = true,
                                   ShowGoButton = true,
                                   GoButtonText = "跳转",
                                   PageIndexBoxType = Webdiyer.WebControls.Mvc.PageIndexBoxType.TextBox,
                                   LastPageText = "尾页",
                                   NextPageText = "下一页",
                                   PrevPageText = "上一页",
                                   AutoHide = false,
                                   CurrentPagerItemWrapperFormatString = "<span class=\"mod-page-cur\">{0}</span>"
                               })
                                </div>
                                每页@(Model.PageSize)条共@(Model.TotalPageCount)页共@(Model.TotalItemCount)条
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
    <!-------------------main end---------------------------------->
</body>
