@using Webdiyer.WebControls.Mvc;
@model LinqModel.View_ActivityCoupon
@{
    ViewBag.Title = "YhqInfo";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}
<!-------------------main start---------------------------------->
<script type="text/javascript">
    $(function () {
        var checkValue = $("#yhqType").val();
    })
</script>
<div>
    <div class="main_hd clearfix">
        <ul class="breadcrumb">
            <li class="icofont-home"><span class="dqwz">当前位置：</span></li>
            <li>活动管理<span class="divider">›</span>活动管理<span class="divider">›</span>查看详情<span
                class="divider">›</span> </li>
            @*          @if (ViewBag.Selected != "-1")
                        {*@ <a style="cursor: pointer; line-height: 20px; color: #989898;" href="/Market/ActivityManager/Index?activityStatus=1">
                            返回</a> @*                        }
                        else
                        {
                <li style="cursor: pointer;" onclick="javascript:history.go(-1);">返回</li>
                        }*@
        </ul>
    </div>
    <div class="card_pa40 clearfix">
        <form id="form1" method="get" action="/Market/ActivityManager/YhqInfo?id=@ViewBag.id">
        <input type="hidden" value="@ViewBag.id" name="id" />
        <div class="mod-main">
            <div class="account-info">
                <span class="mar20">活动名称：<span class="yellow">@Model.ActivityTitle</span></span>
                <span class="mar20">活动有效期：<span>@Model.StartDate.Value.ToString("yyyy-MM-dd")<span>至</span>@Model.EndDate.Value.ToString("yyyy-MM-dd")</span></span>
            </div>
            <div class="mc clearfix">
                <div class="user-set userset-lcol">
                    <div class="form hd-manage-det">
                        <div class="infoitem">
                            <span class="label">优惠券类型：</span>
                            <div class="fl">
                                <span>@Common.EnumText.EnumToText(typeof(Common.EnumText.CouponType), Model.CouponType.Value)</span>
                                @if (Model.CouponType == (int)Common.EnumText.CouponType.Cash)
                                {
                                    <span style="margin-left: 25px" class="mar20">优惠券金额：<span>@Model.CouponContent 元</span></span>
                                }
                                else if (Model.CouponType == (int)Common.EnumText.CouponType.Discount)
                                {
                                    <span style="margin-left: 25px" class="mar20">优惠券折扣：<span>@Model.CouponContent %</span></span> 
                                }
                                else if (Model.CouponType == (int)Common.EnumText.CouponType.Gift)
                                {
                                    <span style="margin-left: 25px" class="mar20">优惠券礼品：<span>@Model.CouponContent</span></span> 
                                }
                            </div>
                        </div>
                        <div class="infoitem">
                            <span class="label">参与方式：</span>
                            <div class="fl">
                                <span>@Common.EnumText.EnumToText(typeof(Common.EnumText.ActiveType), Model.ActivityType.Value)</span>
                            </div>
                        </div>
                        <div class="infoitem">
                            <span class="label">领取地址：</span>
                            <div class="fl">
                                <span>@Model.CouponAddress</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxtable mat20 clearfix">
                <h3>
                    优惠券领取记录</h3>
                <div class="table-filter borderLeft borderRight clearfix">
                    <div class="sitem">
                        <label>
                            活动类型：</label>@Html.Raw(ViewBag.yhqType)
                    </div>
                    <div class="sitem">
                        <input type="submit" id="btnSearch" name="btnSearch" value="查询" class="button">
                    </div>
                </div>
                <div class="boxtable mat20">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    用户名称
                                </th>
                                <th>
                                    手机号码
                                </th>
                                <th>
                                    地区
                                </th>
                                <th>
                                    领取时间
                                </th>
                                <th>
                                    营销码
                                </th>
                                <th>
                                    核销时间
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (ViewBag.yhqGetRecord.Count > 0)
                                {
                                    foreach (var item in ViewBag.yhqGetRecord)
                                    {
                                <tr>
                                    <td>
                                        @item.UserName
                                    </td>
                                    <td>
                                        @item.LinkPhone
                                    </td>
                                    <td>
                                        @item.Address
                                    </td>
                                    <td>
                                        @item.GetTime
                                    </td>
                                    <td>
                                        @item.CouponCode
                                    </td>
                                    @if (item.CancelTime == null)
                                    {
                                        <td>
                                            未核销
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @item.CancelTime
                                        </td>
                                    }
                                </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @if (ViewBag.yhqGetRecord.TotalItemCount > 0)
            {
                <div class="mod-page fy">
                    <div>
                        @Html.Pager(ViewBag.yhqGetRecord as PagedList<LinqModel.View_CouponGetRecord>, new Webdiyer.WebControls.Mvc.PagerOptions
                   {
                       PageIndexParameterName = "id",
                       FirstPageText = "首页",
                       ShowNumericPagerItems = true,
                       ShowPageIndexBox = true,
                       ShowGoButton = true,
                       GoButtonText = "跳转",
                       PageIndexBoxType = Webdiyer.WebControls.Mvc.PageIndexBoxType.TextBox,
                       LastPageText = "尾页",
                       NextPageText = "下一页",
                       PrevPageText = "上一页",
                       AutoHide = false,
                       CurrentPagerItemWrapperFormatString = "<span class=\"mod-page-cur\">{0}</span>"
                   })
                    </div>
                    每页@(ViewBag.yhqGetRecord.PageSize)条共@(ViewBag.yhqGetRecord.TotalPageCount)页共@(ViewBag.yhqGetRecord.TotalItemCount)条
                </div>
            }
        </div>
        </form>
    </div>
</div>
<!-------------------main end---------------------------------->
