<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="target-densitydpi=320,width=750,user-scalable=no">
    <script src="../../Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Areas/Market/Content/WapCss/common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/Market/Content/WapCss/login.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/Market/Content/WapCss/rule.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()
</body>
</html>
