@{
    Layout = null;
}
<script src="@Url.Content("~/Areas/Market/Scripts/artDialog4.1.7/artDialog.js?skin=blue")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Market/Scripts/artDialog4.1.7/plugins/iframeTools.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Market/Scripts/glvalidate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Market/Scripts/jquery.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Areas/Market/Content/base.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Areas/Market/Content/greenskin.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Areas/Market/Content/main.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $("#eid").change(function () {
            if (isNull($("#eid").val()) || $("#eid").val() == "0") {
                $("#linkman").val("");
                $("#linkPhone").val("")
                return false;
            }
            $.post("/Market/RedRecharge/GetEnModel", { id: $("#eid").val() }, function (data) { $("#linkman").val(data.linkman); $("#linkPhone").val(data.linkphone) })
        });
        $("#btnSubmit").click(function () {
            if (isNull($("#eid").val()) || $("#eid").val() == "0") {
                alert("请选择企业！");
                return false;
            }
            var sum = $("#sum").val();
            if (!isMoney(sum)) {
                alert('请输入有效的充值金额！');
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/Market/RedRecharge/Add',
                data: $("#form1").serialize(),
                success: function (data) {
                    if (data.info != null && data.info != "") {
                        alert(data.info);
                    }
                    if (data.res) {
                        if (data.url != null && data.url != "") {
                            parent.location.href = data.url;
                        }
                    }
                }
            })
        })
    });
</script>
<div>
    <body style="min-width: 0; width: 550px;">
        <!-------------------main start---------------------------------->
        <div class="card_pa20 clearfix">
            <form id="form1">
            <div class="mod-main">
                <div class="mc clearfix">
                    <div class="user-set userset-lcol">
                        <div class="form hd-manage-det">
                            <div class="infoitem">
                                <span class="label">选择企业：</span>
                                <div class="fl">
                                    @Html.Action("GetEnList", "RedRecharge")<span style="color: #ed7049">*请先选择企业</span>
                                </div>
                            </div>
                            <div class="infoitem">
                                <span class="label">联系人：</span>
                                <div class="fl">
                                    <input readonly="readonly" type="text" style="width: 180px;" id="linkman" name="linkman"/>
                                </div>
                            </div>
                            <div class="infoitem">
                                <span class="label">联系电话：</span>
                                <div class="fl">
                                    <input readonly="readonly" type="text" style="width: 180px;" id="linkPhone" name="linkPhone"/>
                                </div>
                            </div>
                            <div class="infoitem">
                                <span class="label">充值金额：</span>
                                <div class="fl">
                                    <input type="text" style="width: 180px;" id="sum" name="sum" maxlength="6" />
                                    元<span style="color: #ed7049">*请输入有效的价格</span>
                                </div>
                            </div>
                            <div class="infoitem">
                                <p class="center mat20">
                                    <input type="button" value="添 加" id="btnSubmit" name="btnSubmit" class="button" />&nbsp;&nbsp;
                                    <input type="button" value="返 回" class="button" onclick="art.dialog.close();" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <!-------------------main end---------------------------------->
    </body>
</div>
