@model LinqModel.RequestCodeSettingMuBan
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>医疗器械（UDI）服务云平台</title>
    <link href="../../wapstyle/wap3/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body class="lalal">
    @if (Model != null)
    {
        <input type="hidden" id="ewm" name="ewm" value="@ViewBag.EWM" />
        <div class="footer" style="height: 8.5%;">
            <div class="footer_left" style="height: 100%;">
                <img style="margin-top: 0.2rem;" src="../../wapstyle/wap3/img/logo.png" style="height: 100%;" />
            </div>
            @{
        LinqModel.View_Order_Consumers consumers = Common.Argument.SessCokieOrder.Get;
        if (consumers == null)
        {
                <div class="footer_right" style="height: 100%; width: 10%;">
                    <a href="/Wap_Order/Login" class="toplogin">
                        <img src="../../wapstyle/wap3/img/denglu.png" style="height: 100%;" /></a>
                </div>
        }
        else
        {
                <div class="footer_right" style="height: 100%; width: 10%;">
                    <a href="/Wap_Consumers/Index" class="toplogin">
                        <img src="../../wapstyle/wap3/img/denglu.png" style="height: 100%;" /></a>
                </div>
        }
            }
        </div>
        if (Model.imgs != null && Model.imgs.Count > 0)
        {
        <div class="qiye_dtp" style="width: 100%;">
            <a href="@Model.ImgLink">
                <img src="@Model.imgs[0].fileUrl" style="width: 100%; height: 77%; position: absolute;"/></a>
        </div>
		
        }
        if (Model.IsShow == 1)
        {
        <div class="bottomss" style="height: 7.5%; position: absolute; bottom: 2px;">
            <ul style="height: 100%;">
                <li style="height: 100%;"><a href="/Wap_Index4/IndexOne">追溯信息</a></li>
                <li style="height: 100%;">企业商城</li>
                <li style="height: 100%;">企业信息</li>
            </ul>
        </div>
        }
    }
</body>
<script src="../../wapstyle/wap3/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    //响应式自适应100px==1rem
    (function (doc, win) {
        var docEl = doc.documentElement,
				resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
				recalc = function () {
				    var clientWidth = docEl.clientWidth
				    if (!clientWidth) return
				    if (clientWidth > 750) clientWidth = 750
				    docEl.style.fontSize = 100 * (clientWidth / 750) + 'px'
				}
        if (!doc.addEventListener) return
        win.addEventListener(resizeEvt, recalc, false)
        doc.addEventListener('DOMContentLoaded', recalc, false)
    })(document, window)
</script>
<style>
    .packet
    {
        position: fixed;
        bottom: 60px;
        right: 0;
        z-index: 9999;
    }
    .packet img
    {
        width: 80px;
    }
</style>
@if (ViewBag.IsDiplayPacket != null && ViewBag.IsDiplayPacket == true)
{
    <div class="packet">
        <a href="@ViewBag.PacketUrl">
            <img src="@Url.Content("~/images/wap/redPacket.png")"></a>
    </div>
}
</html>
