@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Address</title>
    <script type="text/javascript">
        function GetShi(obj) {
            if (obj.value == -2) {
                var optionStr = "<option selected=\"selected\" value=\"-2\">请选择</option>";
                $("#selCity").html(optionStr);
                $("#selArea").html(optionStr);
            } else {
                $.get("/SysSupervision/GetShi?id=" + obj.value, function (data, textStatus) {
                    $("#selCity").html(data);
                    var optionStr = "<option selected=\"selected\" value=\"-2\">请选择</option>";
                    $("#selArea").html(optionStr);
                });
            }
        }
        function GetQuXian(obj) {
            if (obj.value == -2) {
                var optionStr = "<option selected=\"selected\" value=\"-2\">请选择</option>";
                $("#selArea").html(optionStr);
            } else {
                $.get("/SysSupervision/GetQu?id=" + obj.value, function (data, textStatus) {
                    $("#selArea").html(data);
                });
            }
        }
    </script>
</head>
<body>
    <div>
        <select id="Province" name="Province" onchange="GetShi(this)" style="width: 123px;
            height: 28px; font-size: 14px; padding-left: 10px;">
            <option selected="selected" value="-2">请选择</option>
            @if (ViewBag.itemSheng != null)
            {
                List<SelectListItem> itemList = ViewBag.itemSheng as List<SelectListItem>;
                foreach (SelectListItem item in itemList)
                {
                    if (item.Selected == true)
                    {
                <option value="@item.Value" selected="selected">@item.Text</option> }
                    else
                    {
                <option value="@item.Value">@item.Text</option>
                    }
                }
            }
        </select>
        <select id="selCity" name="selCity" onchange="GetQuXian(this)" style="width: 123px;
            height: 28px; font-size: 14px; padding-left: 10px;">
            <option selected="selected" value="-2">请选择</option>
            @if (ViewBag.itemShi != null)
            {
                List<SelectListItem> itemList = ViewBag.itemShi as List<SelectListItem>;
                foreach (SelectListItem item in itemList)
                {
                    if (item.Selected == true)
                    {
                <option value="@item.Value" selected="selected">@item.Text</option> }
                    else
                    {
                <option value="@item.Value">@item.Text</option>
                    }
                }
            }
        </select>
        <select id="selArea" name="selArea" style="width: 123px; height: 28px; font-size: 14px;
            padding-left: 10px;">
            <option selected="selected" value="-2">请选择</option>
            @if (ViewBag.itemQu != null)
                        {
                            List<SelectListItem> itemList = ViewBag.itemQu as List<SelectListItem>;
                            foreach (SelectListItem item in itemList)
                            {
                                if (item.Selected == true)
                                {
                <option value="@item.Value" selected="selected">@item.Text</option> }
                                else
                                {
                <option value="@item.Value">@item.Text</option>
                                }
                            }
                        }
        </select>
    </div>
</body>
</html>
