@model PagedList<LinqModel.View_Help>
@using Webdiyer.WebControls.Mvc
@{
    Layout = null;
    List<LinqModel.HelpType> HelpTypeList = new List<LinqModel.HelpType>();
    HelpTypeList = new BLL.HelpBLL().GetTypeList();
}
<!DOCTYPE html>
<html>
<head>
    <title>热门问题</title>@*    <link href="../../css/custom.css" rel="stylesheet" type="text/css" />*@
    <link rel="shortcut icon" href="../../images/ncp.ico"/>
    <script src="../../Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <link href="../../css/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        //           function btn(typeid, id) {
        //               window.location.href = '/Default/HelpList?typeId=' + typeid;
        //           }
        //           function mouseOver() {
        //               $("#tag0").css("background-color", "#65ce9a");
        //               $("#tag0").css("color", "white");
        //           }
        //           function mouseOut() {
        //               $("#tag0").css("background-color", "white");
        //               $("#tag0").css("color", "black");
        //           } 
        //帮助问题类型
        function btn(typeid, id) {
            $("#input1").val("1");
            $("#input2").val(typeid);
            if (typeid == 0) {
                $(".tag-item").css("background-color", "white");
                $(".tag-item").css("color", "black");
                $("#tag0").css("background-color", "#49a9f1");
                $("#tag0").css("color", "white");
            }
            else {
                $(".tag-item").css("background-color", "white");
                $(".tag-item").css("color", "black");
                $("#tag-" + typeid).css("background-color", "#49a9f1");
                $("#tag-" + typeid).css("border-color", "#49a9f1");
                $("#tag-" + typeid).css("color", "white");
            }


            var list = {
                typeId: typeid,
                index: 1,
                id: id
            }
            $.ajax({
                type: "post",
                contentType: "application/json",
                url: "/Default/GetHelpList",
                data: JSON.stringify(list),
                success: function (data) {
                    if (data != null) {
                        $('#Div1').empty();   //清空resText里面的所有内容
                        var html = '<ul>';
                        $.each(data, function (Index, help) {
                            var date = ChangeDateFormat(help['AddDate'].toLocaleString());
                            html += "<li><a target='_blank' href='/Default/HelpDetails?typeId=" + typeid + "&helpId=" + help['HelpId'] + "&id=1'>"
                               + help['HelpTitle'] + "</a><span>" + date + "</span></li>";
                        });
                        if (data.length > 20) {
                            html += "<p class='more'><a href='#' onclick='btnMore(1,1)'>查看更多</a></p>";
                        }
                        $('#Div1').html(html);
                    }
                }
            })
        }
        //查看更多
        function btnMore(typeid, id) {
            var index = $("#input1").val();
            var type = $("#input2").val();
            index++;
            var list = {
                typeId: type,
                index: index,
                id: 1
            }
            $.ajax({
                type: "post",
                contentType: "application/json",
                url: "/Default/GetHelpList",
                data: JSON.stringify(list),
                success: function (data) {
                    if (data != null) {
                        debugger;
                        $('#Div1').empty();   //清空resText里面的所有内容
                        var html = '<ul>';
                        $.each(data, function (Index, help) {
                            //                               var a = help['AddDate'].toLocaleString();
                            //                               var date = new Date(parseInt(a.slice(6)));
                            var date = ChangeDateFormat(help['AddDate'].toLocaleString());
                            html += "<li><a target='_blank' href='/Default/HelpDetails?typeId=" + type + "&helpId=" + help['HelpId'] + "&id=1'>"
                                                              + help['HelpTitle'] + "</a><span>" + date + "</span></li>";
                            // + help['HelpTitle'] + "</a></li>";
                        });
                        if (data.length > 20) {
                            html += "<p class='more'><a href='#' onclick='btnMore(1,1)'>查看更多</a></p>";
                        }
                        $('#Div1').html(html);
                    }
                }
            })
            $("#input1").val(index);
        }
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    </script>
</head>
<body style="background-color: #f7f7f7;">
    <div class="header-wrapper">
        <div class="header width1100 clearfix">
            <div class="logo fl">
                <a href="/Home/Index">
                    <img src="/newmenu/images/bg_logo.png"/></a>
            </div>
        </div>
    </div>
    <!------------------left start-------------------------->
    <!------------------left end-------------------------->
    <div class="width1100 w-container clearfix">
        <div class="w-content">
            <h2 class="w-tit">
                热门问题</h2>
            <input id="input1" type="hidden" value="1" />@*查看更多*@
            <input id="input2" type="hidden" value="0" />@*类型，0是不限分类*@
            <div class="kb-tags clearfix">
                <div class="tag-main">
                    <ul class="kb-tags-list">
                        <li><a href="#" id="tag0" class="tag-item selected" onclick="btn(0,1)">不限分类</a>
                        </li>
                        @foreach (var item in HelpTypeList)
                        {
                            <li><a href="#" id="tag-@item.TypeId" class="tag-item" onclick="btn(@item.TypeId,1)">@item.TypeName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            @if (Model.Count > 0)
            {
                <div id="Div1" class="help-issue-list">
                    <ul>
                        @{
                foreach (var item in Model)
                {
                            <li><a target='_blank' href='/Default/HelpDetails?typeId=@item.TypeId&helpId=@item.HelpId&id=1'>@item.HelpTitle</a>
                                <span>@DateTime.Parse(@item.AddDate.ToString()).ToString("yyyy-MM-dd")</span>
                            </li>
                }
                        }
                    </ul>
                    @if (Model.Count > 20)
                    {
                        <p class="more">
                            <a href="#" onclick="btnMore(1,1)">查看更多</a></p>
                    }
                </div>
            }
        </div>
    </div>
</body>
</html>
